.Container {
	display: grid;
	grid-template-rows: auto 1fr;
	gap: 20px;

	height: 100%;
	margin-top: 45px;
	margin-bottom: 30px;

	.BlockProducts {
		display: grid;
		grid-template-columns: repeat(5, auto);
		gap: 30px;
		align-items: flex-start;
		justify-content: flex-start;
	}

	.BlockEmpty {
		display: grid;
		grid-column: 1 / 6;
		gap: 10px;
		align-self: center;
		justify-items: center;
		justify-self: center;
	}

	.BlockError {
		display: grid;
		grid-column: 1 / 6;
		align-self: center;
		justify-self: center;
	}
}
