@import "@styles/variables";

.Container {
	cursor: pointer;

	transition: $transition;

	&:hover {
		transform: scale(1.1);
	}
}

@media (max-width: 575.98px) {
	.Container {
		width: 25px;
		height: 25px;
	}
}
