@import "@styles/variables";

.Container {
	display: grid;

	padding: 30px 20px 70px;

	background-color: $color-white;
	border-bottom: 8px solid $color-primary;
	border-radius: 20px 20px 0 0;

	.BlockBtnClose {
		justify-self: flex-end;

		margin-bottom: 30px;
	}

	.Content {
		display: grid;
		gap: 40px 0;

		padding: 0 30px;

		.BlockNav {
			display: grid;
			grid-auto-flow: column;
			gap: 0 15px;
			justify-self: center;
		}

		.BlockInput {
			display: grid;
			gap: 15px 0;
			justify-items: center;
		}

		.BlockBtn {
			display: grid;
			gap: 5px;
			justify-items: center;
			justify-self: center;
		}
	}
}

@media (max-width: 575.98px) {
	.Container {
		grid-template-rows: auto 1fr;
		align-items: center;
		justify-items: center;

		width: 100vw;
		height: 100vh;
		padding: 20px 10px;

		border-bottom: 20px solid $color-primary;

		.Content {
			gap: 30px 0;

			padding: 0 20px;

			text-align: center;
		}
	}
}
