@import "@styles/variables";

.Container {
	cursor: pointer;

	display: grid;

	padding: 10px;

	border: 2px solid $color-gray-light;
	border-radius: 10px;

	transition: $transition;

	&:hover {
		background-color: $color-green-very-light;
		border: 2px solid $color-green-very-light;
		border-radius: 15px;
	}
}

.Active {
	background-color: $color-green-very-light;
	border: 2px solid $color-green-very-light;
}
