@import "@styles/variables";

.Container {
	display: grid;
	gap: 10px;
	justify-items: center;

	padding: 30px;

	background-color: $color-red-light;
	border: 3px solid $color-red;
	border-radius: 40px;
}
