@import "@styles/variables";

.Container {
	position: absolute;
	z-index: 10;
	top: 140%;
	right: 0;

	display: none;

	background-color: $color-white;
	border: 1px solid $color-gray-light;
	border-radius: 5px;

	.Link {
		padding: 3px 10px;

		font-size: 16px;
		line-height: 18px;
		color: $color-black;

		transition: all 0.1s ease-in-out;

		&:hover {
			color: $color-white;

			background-color: $color-primary;
		}
	}
}

.Active {
	display: grid;
}
