@import "@styles/variables";

.Container {
	display: grid;

	min-height: 95vh;
	padding: 5% 10% 0;

	background-color: $color-blue-light;

	.Content {
		display: grid;
		grid-template-areas:
			"header"
			"body";
		grid-template-rows: 110px 1fr;

		background-color: $color-white;
		border-radius: 20px 20px 0 0;

		.Body {
			grid-area: body;

			padding: 0 3%;

			border-radius: 20px 20px 0 0;
		}
	}
}
