@import "@styles/variables";

.Container {
	display: grid;

	min-height: 95vh;
	padding: 5% 10%;

	background-color: $color-blue-light;

	.Content {
		display: grid;
		grid-template-areas:
			"header"
			"body";
		grid-template-rows: 110px 1fr;

		background-color: $color-white;
		border-radius: 20px;

		.Body {
			grid-area: body;

			padding: 0 3%;

			border-radius: 20px 20px 0 0;
		}
	}
}

@media (max-width: 1199.98px) {
	.Container {
		padding: 5% 7%;
	}
}

@media (max-width: 767.98px) {
	.Container {
		.Content {
			.Body {
				padding: 0 5%;
			}
		}
	}
}

@media (max-width: 575.98px) {
	.Container {
		padding: 0;

		.Content {
			grid-template-rows: 90px 1fr;
		}
	}
}
