@import "@styles/variables";

.Container {
	display: grid;
	gap: 15px;
	justify-items: center;

	padding: 40px;

	background-color: $color-white;
	border-radius: 40px;
}

@media (max-width: 575.98px) {
	.Container {
		margin: 0 5%;
		padding: 30px;

		text-align: center;
	}
}
