.Container {
	display: grid;
	grid-template-rows: auto 1fr;
	gap: 20px;

	height: 100%;
	margin-top: 45px;
	margin-bottom: 30px;

	.BlockProducts {
		display: grid;
		grid-template-columns: repeat(5, auto);
		gap: 30px;
		align-content: flex-start;
		justify-content: flex-start;
	}

	.BlockEmpty {
		display: grid;
		gap: 10px;
		align-self: center;
		justify-items: center;
		justify-self: center;
	}

	.BlockError {
		display: grid;
		align-self: center;
		justify-self: center;
	}
}

@media (max-width: 1780px) {
	.Container {
		.BlockProducts {
			grid-template-columns: repeat(4, auto);
		}
	}
}

@media (max-width: 1399.98px) {
	.Container {
		.BlockProducts {
			grid-template-columns: repeat(3, auto);
		}
	}
}

@media (max-width: 991.98px) {
	.Container {
		.BlockProducts {
			grid-template-columns: repeat(2, auto);
		}
	}
}

@media (max-width: 575.98px) {
	.Container {
		.BlockProducts {
			grid-template-columns: auto;
			gap: 20px 0;
			justify-content: center;
		}

		.BlockEmpty {
			text-align: center;
		}
	}
}
