.Container {
	display: grid;

	height: 100%;

	margin-top: 45px;
	margin-bottom: 30px;
	grid-template-rows: auto 1fr;
	gap: 20px;

	.BlockProducts {
		display: grid;
		align-items: flex-start;
		justify-content: space-between;
		grid-template-columns: repeat(5, auto);
		gap: 30px;
	}

	.BlockEmpty {
		display: grid;
		align-self: center;
		justify-self: center;
		gap: 10px;
		justify-items: center;
	}
}
