@import "@styles/variables";

.Container {
	position: fixed;
	z-index: 11;
	top: 0;
	left: 0;

	display: none;
	align-content: center;
	justify-content: center;

	width: 100vw;
	height: 100vh;

	background-color: $color-black-light;

	.Content {
		display: grid;
		gap: 15px 0;
		justify-items: center;

		padding: 30px;

		background-color: $color-white;
		border-radius: 20px;

		.Text {
			display: block;

			width: fit-content;

			font-size: 25px;
			line-height: 27px;
			color: $color-black;

			.Link {
				cursor: pointer;

				font-weight: 600;
			}
		}
	}
}

.Active {
	display: grid;
}
