.Container {
	display: block;

	width: fit-content;
}

.Big {
	font-size: 60px;
	line-height: 65px;
}

.Medium {
	font-size: 40px;
	line-height: 45px;
}

.Small {
	font-size: 20px;
	line-height: 25px;
}
