.Container {
	display: grid;
	gap: 20px;
	align-items: flex-start;

	margin-bottom: 30px;

	.BlockProducts {
		display: grid;
		grid-template-columns: repeat(5, auto);
		gap: 30px;
		justify-content: space-between;
	}
}
