.Container {
	display: grid;
	gap: 20px;
	align-items: flex-start;

	margin-bottom: 30px;

	.BlockProducts {
		display: grid;
		grid-template-columns: repeat(5, auto);
		gap: 30px;
		justify-content: space-between;

		.BlockError {
			grid-column: 1 / 6;
			align-self: center;
			justify-self: center;
		}
	}
}

@media (max-width: 1780px) {
	.Container {
		.BlockProducts {
			grid-template-columns: repeat(4, auto);
		}
	}
}

@media (max-width: 1399.98px) {
	.Container {
		.BlockProducts {
			grid-template-columns: repeat(3, auto);
		}
	}
}

@media (max-width: 991.98px) {
	.Container {
		.BlockProducts {
			grid-template-columns: repeat(2, auto);
		}
	}
}

@media (max-width: 575.98px) {
	.Container {
		.BlockProducts {
			grid-template-columns: auto;
			gap: 20px 0;
			justify-content: center;
		}
	}
}
