@import "@styles/variables";

.Container {
	display: block;

	width: 370px;
	padding: 10px 14px;

	font-size: 24px;
	line-height: 28px;
	color: $color-black;

	border: 2px solid $color-primary;
	border-radius: 10px;

	transition: $transition;

	&:focus {
		border: 2px solid $color-primary-dark;
		border-radius: 14px;
	}
}

@media (max-width: 575.98px) {
	.Container {
		width: 100%;
	}
}
