@import "@styles/variables";

.Container {
	cursor: auto;

	display: block;

	width: fit-content;

	font-size: 16px;
	font-weight: 700;
	line-height: 19px;

	transition: $transition;

	&:disabled {
		opacity: 0.7;
	}

	&:hover:not([disabled]) {
		cursor: pointer;
	}
}

.Green {
	color: $color-white;

	background: $color-green;
	border: 1px solid $color-green;

	&:hover:not([disabled]) {
		color: $color-green;

		background: $color-white;
	}
}

.White {
	color: $color-green;

	background: $color-white;
	border: 1px solid $color-green;

	&:hover:not([disabled]) {
		color: $color-white;

		background: $color-green;
	}
}

.Blue {
	color: $color-white;

	background: $color-primary;
	border: 1px solid $color-primary;

	&:hover:not([disabled]) {
		color: $color-primary;

		background: $color-white;
	}
}

.Big {
	padding: 20px 50px;

	font-size: 25px;
	line-height: 27px;

	border: 3px solid;
	border-radius: 40px;

	&:hover:not([disabled]) {
		border-radius: 45px;
	}
}

.Medium {
	padding: 17px 25px;

	border-radius: 20px;

	&:hover:not([disabled]) {
		border-radius: 25px;
	}
}

.Small {
	padding: 14px 20px;

	border-radius: 20px;

	&:hover:not([disabled]) {
		border-radius: 25px;
	}
}

.Square {
	border-radius: 8px;

	transition: $transition;

	&:hover:not([disabled]) {
		border-radius: 15px;
	}
}
