@import "https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap";

@import "@styles/variables";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	font-family: Inter, sans-serif;
	font-weight: 400;

	&::-webkit-scrollbar {
		width: 4px;

		background-color: #fff;
		border-radius: 10px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: $color-primary;
		border-radius: 10px;
	}
}

button {
	overflow: visible;

	width: auto;
	margin: 0;
	padding: 0;

	font: inherit;
	line-height: normal;
	color: inherit;
	text-align: start;

	background: transparent;
	border: none;

	appearance: none;
	-webkit-font-smoothing: inherit;
	-moz-osx-font-smoothing: inherit;

	&::-moz-focus-inner {
		padding: 0;

		border: 0;
	}
}

input {
	outline: none;
}

a {
	text-decoration: none;

	outline: 0;
}
