$color-black: #000;
$color-black-light: rgb(0 0 0 / 40%);
$color-white: #fff;
$color-gray: #9d9d9d;
$color-gray-light: #e0e0e0;
$color-green: #a5d364;
$color-green-light: #87c20a;
$color-green-very-light: #64dd17;
$color-blue-light: #e7f6ff;
$color-primary: #81d4fa;
$color-primary-light: #b6ffff;
$color-primary-dark: #4ba3c7;
$color-red: #f44336;
$color-red-light: #ffcccb;
$transition: all 0.3s ease-in-out;
